# собранный сайт — не хранится в git
public/
public-dev/
# кеш Hugo (оптимизированные изображения, fingerprint CSS/JS)
resources/_gen/
# IDE (PyCharm)
.idea/
# все npm пакеты
node_modules/
# ненужный файл статистики Hugo
hugo_stats.json
# lock-файл Hugo
.hugo_build.lock
# системный мусор macOS
.DS_Store
# файлы VS Code
.vscode/