{{- if not (.Param "hideFooter") }}
<footer class="footer">
    {{- partial "footer-links.html" . }}

    {{- if not site.Params.footer.hideCopyright }}
        {{- if site.Copyright }}
            <span>{{ site.Copyright | markdownify }}</span>
        {{- else }}
            <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a></span>
        {{- end }}
    {{- end }}

    {{- with site.Params.footer.text }}
        <span> · {{ . | markdownify }}</span>
    {{- end }}

</footer>
{{- end }}


{{- if (not site.Params.disableScrollToTop) }}
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>
{{- end }}

{{- partial "extend_footer.html" . }}

{{- $is404 := or (eq .Kind "404") (eq .Layout "404") (eq .RelPermalink "/404.html") (eq .RelPermalink "/ru/404.html") -}}
{{- if and (not $is404) (ne .Layout "search") }}
{{ partial "_seo/jsonld.html" . }}
{{- end }}

{{- $codeCopy := i18n "code_copy" | default "copy" -}}
{{- $codeCopied := i18n "code_copied" | default "copied!" -}}
{{- $codeCopyEnabled := and (eq .Kind "page") (ne .Layout "archives") (ne .Layout "search") (.Param "ShowCodeCopyButtons") -}}
{{- $codeCopyEnabledValue := cond $codeCopyEnabled "true" "false" -}}
{{- $siteJS := resources.Get "js/site.js" | js.Build (dict "targetPath" "assets/js/site.js") | resources.Minify -}}
{{- if not site.Params.assets.disableFingerprinting }}
    {{- $siteJS = $siteJS | fingerprint }}
    <script defer crossorigin="anonymous" src="{{ $siteJS.RelPermalink }}" integrity="{{ $siteJS.Data.Integrity }}" data-code-copy="{{ $codeCopy }}" data-code-copied="{{ $codeCopied }}" data-code-copy-enabled="{{ $codeCopyEnabledValue }}"></script>
{{- else }}
    <script defer crossorigin="anonymous" src="{{ $siteJS.RelPermalink }}" data-code-copy="{{ $codeCopy }}" data-code-copied="{{ $codeCopied }}" data-code-copy-enabled="{{ $codeCopyEnabledValue }}"></script>
{{- end }}
