{{- $pageNumber := .Scratch.Get "pageNumber" | default 1 -}}
{{- $pageSuffix := "" -}}
{{- if gt $pageNumber 1 -}}
  {{- if eq .Site.Language.Name "ru" -}}
    {{- $pageSuffix = printf " | Страница %d" $pageNumber -}}
  {{- else -}}
    {{- $pageSuffix = printf " | Сторінка %d" $pageNumber -}}
  {{- end -}}
{{- end -}}
{{- $homeTitle := .Params.title | default .Title | default .Site.Title -}}
{{- $pageTitle := cond .IsHome $homeTitle (printf "%s | %s" .Title .Site.Title) -}}
{{- printf "%s%s" $pageTitle $pageSuffix -}}
