{{- $primarySeriesSlugs := slice -}}
{{- $fallbackSeriesSlugs := slice -}}

{{- with .Params.related_series -}}
  {{- range . -}}
    {{- $primarySeriesSlugs = $primarySeriesSlugs | append (lower .) -}}
  {{- end -}}
{{- end -}}

{{- with .Params.category -}}
  {{- $primarySeriesSlugs = $primarySeriesSlugs | append (lower .) -}}
{{- end -}}

{{- with .Params.categories -}}
  {{- range . -}}
    {{- $primarySeriesSlugs = $primarySeriesSlugs | append (lower .) -}}
  {{- end -}}
{{- end -}}

{{- with .Params.tags -}}
  {{- range . -}}
    {{- $primarySeriesSlugs = $primarySeriesSlugs | append (lower .) -}}
  {{- end -}}
{{- end -}}

{{- with .Params.product_group_id -}}
  {{- $entity := lower . -}}
  {{- if or (eq $entity "sky-series") (hasPrefix $entity "sky-") (in $entity "-sky-") -}}
    {{- $primarySeriesSlugs = $primarySeriesSlugs | append "sky" -}}
  {{- end -}}
  {{- if or (eq $entity "wing-series") (hasPrefix $entity "wing-") (in $entity "-wing-") -}}
    {{- $primarySeriesSlugs = $primarySeriesSlugs | append "wing" -}}
  {{- end -}}
  {{- if or (eq $entity "xtal-series") (hasPrefix $entity "xtal-") (in $entity "-xtal-") -}}
    {{- $primarySeriesSlugs = $primarySeriesSlugs | append "xtal" -}}
  {{- end -}}
{{- end -}}

{{- with .Params.about_entities -}}
  {{- range . -}}
    {{- $entity := lower . -}}
    {{- if or (eq $entity "sky-series") (hasPrefix $entity "sky-") (in $entity "-sky-") -}}
      {{- $primarySeriesSlugs = $primarySeriesSlugs | append "sky" -}}
    {{- end -}}
    {{- if or (eq $entity "wing-series") (hasPrefix $entity "wing-") (in $entity "-wing-") -}}
      {{- $primarySeriesSlugs = $primarySeriesSlugs | append "wing" -}}
    {{- end -}}
    {{- if or (eq $entity "xtal-series") (hasPrefix $entity "xtal-") (in $entity "-xtal-") -}}
      {{- $primarySeriesSlugs = $primarySeriesSlugs | append "xtal" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with .Params.mentions_entities -}}
  {{- range . -}}
    {{- $entity := lower . -}}
    {{- if or (eq $entity "sky-series") (hasPrefix $entity "sky-") (in $entity "-sky-") -}}
      {{- $fallbackSeriesSlugs = $fallbackSeriesSlugs | append "sky" -}}
    {{- end -}}
    {{- if or (eq $entity "wing-series") (hasPrefix $entity "wing-") (in $entity "-wing-") -}}
      {{- $fallbackSeriesSlugs = $fallbackSeriesSlugs | append "wing" -}}
    {{- end -}}
    {{- if or (eq $entity "xtal-series") (hasPrefix $entity "xtal-") (in $entity "-xtal-") -}}
      {{- $fallbackSeriesSlugs = $fallbackSeriesSlugs | append "xtal" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $structuredText := printf "%s %s %s %s %s" .Title (.Params.description | default "") (.Params.summary | default "") (.Params.slug | default "") .RelPermalink -}}
{{- $haystack := upper $structuredText -}}

{{- if in $haystack "SKY" -}}
  {{- $fallbackSeriesSlugs = $fallbackSeriesSlugs | append "sky" -}}
{{- end -}}
{{- if in $haystack "WING" -}}
  {{- $fallbackSeriesSlugs = $fallbackSeriesSlugs | append "wing" -}}
{{- end -}}
{{- if in $haystack "XTAL" -}}
  {{- $fallbackSeriesSlugs = $fallbackSeriesSlugs | append "xtal" -}}
{{- end -}}

{{- $seriesSlugs := $fallbackSeriesSlugs -}}
{{- if gt (len $primarySeriesSlugs) 0 -}}
  {{- $seriesSlugs = $primarySeriesSlugs -}}
{{- end -}}

{{- $allowedSeries := slice "sky" "wing" "xtal" -}}
{{- $normalized := slice -}}
{{- range $seriesSlugs -}}
  {{- $slug := lower . -}}
  {{- if in $allowedSeries $slug -}}
    {{- $normalized = $normalized | append $slug -}}
  {{- end -}}
{{- end -}}

{{- return ($normalized | uniq) -}}
