{{- $section := .Section -}}
{{- $isRelevantSection := in (slice "products" "articles" "news") $section -}}
{{- if $isRelevantSection -}}
  {{- $isRU := eq .Language.Name "ru" -}}
  {{- $blockTitle := "Що подивитися далі" -}}
  {{- $primaryTitle := "Ключові розділи" -}}
  {{- $productsTitle := "Схожі моделі" -}}
  {{- $materialsTitle := "Корисні матеріали" -}}
  {{- $catalogLabel := "Каталог крісел Aerocool" -}}
  {{- $articlesLabel := "Статті та гіди Aerocool" -}}
  {{- $newsLabel := "Новини Aerocool" -}}
  {{- if $isRU -}}
    {{- $blockTitle = "Что посмотреть дальше" -}}
    {{- $primaryTitle = "Ключевые разделы" -}}
    {{- $productsTitle = "Подходящие модели" -}}
    {{- $materialsTitle = "Полезные материалы" -}}
    {{- $catalogLabel = "Каталог кресел Aerocool" -}}
    {{- $articlesLabel = "Статьи и гиды Aerocool" -}}
    {{- $newsLabel = "Новости Aerocool" -}}
  {{- end -}}

  {{- $catalogPage := site.GetPage "/products" -}}
  {{- $articlesPage := site.GetPage "/articles" -}}
  {{- $newsPage := site.GetPage "/news" -}}
  {{- $allProductPages := where site.RegularPages "Section" "products" -}}
  {{- $allArticlePages := where site.RegularPages "Section" "articles" -}}
  {{- $allNewsPages := where site.RegularPages "Section" "news" -}}

  {{- $seriesSlugs := partial "page-series-slugs.html" . -}}

  {{- $seriesScratch := newScratch -}}
  {{- $productsScratch := newScratch -}}
  {{- $materialsScratch := newScratch -}}

  {{- range $seriesSlugs -}}
    {{- $seriesSlug := . -}}
    {{- with site.GetPage (printf "/products/%s" $seriesSlug) -}}
      {{- $seriesScratch.SetInMap "pages" .RelPermalink . -}}
    {{- end -}}
    {{- range $allProductPages -}}
      {{- $pageSeriesSlugs := partial "page-series-slugs.html" . -}}
      {{- if and (ne .RelPermalink $.RelPermalink) (in $pageSeriesSlugs $seriesSlug) -}}
        {{- $productsScratch.SetInMap "pages" .RelPermalink . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $materialCandidates := slice -}}
  {{- if eq $section "products" -}}
    {{- $materialCandidates = union $allArticlePages $allNewsPages -}}
  {{- else if eq $section "articles" -}}
    {{- $materialCandidates = $allNewsPages -}}
  {{- else if eq $section "news" -}}
    {{- $materialCandidates = $allArticlePages -}}
  {{- end -}}

  {{- range $materialCandidates -}}
    {{- $pageSeriesSlugs := partial "page-series-slugs.html" . -}}
    {{- if and (ne .RelPermalink $.RelPermalink) (gt (len (intersect $seriesSlugs $pageSeriesSlugs)) 0) -}}
      {{- $materialsScratch.SetInMap "pages" .RelPermalink . -}}
    {{- end -}}
  {{- end -}}

  {{- $seriesPages := $seriesScratch.GetSortedMapValues "pages" | default (slice) -}}
  {{- $productPages := $productsScratch.GetSortedMapValues "pages" | default (slice) -}}
  {{- $materialPages := $materialsScratch.GetSortedMapValues "pages" | default (slice) -}}

  {{- if or $catalogPage $articlesPage $newsPage (gt (len $seriesPages) 0) (gt (len $productPages) 0) (gt (len $materialPages) 0) -}}
  <section class="related-links" aria-labelledby="related-links-title">
    <h2 id="related-links-title" class="related-links__title">{{ $blockTitle }}</h2>
    <div class="related-links__grid">
      <div class="related-links__group">
        <h3>{{ $primaryTitle }}</h3>
        <ul>
          {{- with $catalogPage }}
          <li><a href="{{ .RelPermalink }}">{{ $catalogLabel }}</a></li>
          {{- end }}
          {{- range first 3 $seriesPages }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{- end }}
          {{- if ne $section "articles" -}}
            {{- with $articlesPage }}
            <li><a href="{{ .RelPermalink }}">{{ $articlesLabel }}</a></li>
            {{- end }}
          {{- end }}
          {{- if ne $section "news" -}}
            {{- with $newsPage }}
            <li><a href="{{ .RelPermalink }}">{{ $newsLabel }}</a></li>
            {{- end }}
          {{- end }}
        </ul>
      </div>

      {{- if gt (len $productPages) 0 }}
      <div class="related-links__group">
        <h3>{{ $productsTitle }}</h3>
        <ul>
          {{- range first 3 $productPages }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{- end }}
        </ul>
      </div>
      {{- end }}

      {{- if gt (len $materialPages) 0 }}
      <div class="related-links__group">
        <h3>{{ $materialsTitle }}</h3>
        <ul>
          {{- range first 4 $materialPages }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{- end }}
        </ul>
      </div>
      {{- end }}
    </div>
  </section>
  {{- end -}}
{{- end -}}
