{{- $schemaTypes := .Params.schema_types | default (slice) -}}
{{- if and .IsPage (in $schemaTypes "article") -}}
{{- $pageImage := partial "page-image.html" . -}}
{{- $pageLanguage := partial "page-language.html" . -}}
{{- $websiteId := partial "page-website-id.html" . -}}
{{- $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) -}}
{{- $datePublished := .Date.Format "2006-01-02T15:04:05Z07:00" -}}
{{- $dateModified := .Lastmod.Format "2006-01-02T15:04:05Z07:00" -}}
{{- (dict
  "@type" "Article"
  "@id" (printf "%s#article" $pageURL)
  "mainEntityOfPage" (dict "@id" (printf "%s#webpage" $pageURL))
  "headline" .Title
  "description" (.Params.description | default .Summary | plainify)
  "image" (slice $pageImage)
  "datePublished" $datePublished
  "dateModified" $dateModified
  "author" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "publisher" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "isPartOf" (dict "@id" $websiteId)
  "articleSection" .Section
  "wordCount" .WordCount
  "inLanguage" $pageLanguage
) | jsonify -}}
{{- end -}}
