{{- $homeName := cond (eq .Site.Language.Name "ru") "Главная" "Головна" -}}
{{- $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) -}}
{{- $itemList := slice (dict
  "@type" "ListItem"
  "position" 1
  "name" $homeName
  "item" (dict "@id" (.Site.Home.Permalink | absURL))
) -}}
{{- $position := 2 -}}
{{- $sections := slice -}}
{{- with .CurrentSection -}}
  {{- $section := . -}}
  {{- range $section.Ancestors.Reverse -}}
    {{- if not .IsHome -}}
      {{- $sections = $sections | append . -}}
    {{- end -}}
  {{- end -}}
  {{- if not $section.IsHome -}}
    {{- $sections = $sections | append $section -}}
  {{- end -}}
{{- end -}}
{{- range $sections -}}
  {{- $itemList = $itemList | append (dict
    "@type" "ListItem"
    "position" $position
    "name" .Title
    "item" (dict "@id" (.Permalink | absURL))
  ) -}}
  {{- $position = add $position 1 -}}
{{- end -}}
{{- if and (not .IsHome) (or (not .CurrentSection) (ne .CurrentSection.Permalink .Permalink)) -}}
  {{- $itemList = $itemList | append (dict
    "@type" "ListItem"
    "position" $position
    "name" .Title
    "item" (dict "@id" (.Permalink | absURL))
  ) -}}
{{- end -}}
{{- (dict
  "@type" "BreadcrumbList"
  "@id" (printf "%s#breadcrumbs" $pageURL)
  "name" "Breadcrumbs"
  "mainEntityOfPage" (dict "@id" (printf "%s#webpage" $pageURL))
  "itemListElement" $itemList
) | jsonify -}}
