{{ $pageDescription := partial "page-description.html" . }}
{{ $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) }}
{{ $pageLanguage := partial "page-language.html" . }}
{{ $websiteId := partial "page-website-id.html" . }}
{{ $items := .Pages }}
{{ with .Paginator }}
  {{ $items = .Pages }}
{{ end }}
{
  "@type": "CollectionPage",
  "@id": "{{ $pageURL }}#collection",
  "url": "{{ $pageURL }}",
  "name": {{ .Title | jsonify }},
  "description": {{ $pageDescription | jsonify }},

  "isPartOf": {
    "@id": "{{ $websiteId }}"
  },

  "about": {
    "@type": "Thing",
    "name": {{ .Title | jsonify }}
  },

  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {{- range $index, $p := $items -}}
      {
        "@type": "ListItem",
        "position": {{ add $index 1 }},
        "url": "{{ $p.Permalink }}"
      }{{ if ne (add $index 1) (len $items) }},{{ end }}
      {{- end -}}
    ]
  },

  "breadcrumb": {
    "@id": "{{ $pageURL }}#breadcrumbs"
  },

  "publisher": {
    "@id": "{{ .Site.BaseURL | absURL }}#organization"
  },

  "inLanguage": "{{ $pageLanguage }}"
}
