{{- $pageDescription := partial "page-description.html" . -}}
{{- $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) -}}
{{- $pageLanguage := partial "page-language.html" . -}}
{{- $websiteId := partial "page-website-id.html" . -}}
{{- $pages := .Pages -}}
{{- with .Paginator -}}
  {{- $pages = .Pages -}}
{{- end -}}
{{- $itemList := slice -}}
{{- range $index, $page := $pages -}}
  {{- $itemList = $itemList | append (dict
    "@type" "ListItem"
    "position" (add $index 1)
    "url" $page.Permalink
  ) -}}
{{- end -}}
{{- (dict
  "@type" "CollectionPage"
  "@id" (printf "%s#collection" $pageURL)
  "url" $pageURL
  "name" .Title
  "description" $pageDescription
  "isPartOf" (dict "@id" $websiteId)
  "about" (dict
    "@type" "Thing"
    "name" .Title
  )
  "mainEntity" (dict
    "@type" "ItemList"
    "itemListElement" $itemList
  )
  "breadcrumb" (dict "@id" (printf "%s#breadcrumbs" $pageURL))
  "publisher" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "inLanguage" $pageLanguage
) | jsonify -}}
