{{- $pageDescription := partial "page-description.html" . -}}
{{- $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) -}}
{{- $pageLanguage := partial "page-language.html" . -}}
{{- $websiteId := partial "page-website-id.html" . -}}
{{- $pages := .Pages -}}
{{- with .Paginator -}}
  {{- $pages = .Pages -}}
{{- end -}}
{{- $about := dict
  "@type" "Thing"
  "name" .Title
-}}
{{- $aboutRefs := partial "_schema/entity-ref-list.html" (dict "site" .Site "ids" (.Params.about_entities | default (slice))) -}}
{{- $mentionRefs := partial "_schema/entity-ref-list.html" (dict "site" .Site "ids" (.Params.mentions_entities | default (slice))) -}}
{{- if gt (len $aboutRefs) 0 -}}
  {{- $about = $aboutRefs -}}
{{- end -}}
{{- $itemList := slice -}}
{{- range $index, $page := $pages -}}
  {{- $itemURL := $page.Permalink | absURL -}}
  {{- $itemList = $itemList | append (dict
    "@type" "ListItem"
    "position" (add $index 1)
    "name" $page.Title
    "item" (dict
      "@id" $itemURL
      "url" $itemURL
      "name" $page.Title
    )
  ) -}}
{{- end -}}
{{- $collection := dict
  "@type" "CollectionPage"
  "@id" (printf "%s#collection" $pageURL)
  "url" $pageURL
  "name" .Title
  "description" $pageDescription
  "isPartOf" (dict "@id" $websiteId)
  "about" $about
  "mainEntity" (dict
    "@type" "ItemList"
    "itemListElement" $itemList
  )
  "breadcrumb" (dict "@id" (printf "%s#breadcrumbs" $pageURL))
  "publisher" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "inLanguage" $pageLanguage
-}}
{{- if gt (len $mentionRefs) 0 -}}
  {{- $collection = merge $collection (dict "mentions" $mentionRefs) -}}
{{- end -}}
{{- $collection | jsonify -}}
