{{- $schemaTypes := .Params.schema_types | default (slice) -}}
{{- if and (in $schemaTypes "faq") .Params.faq -}}
{{- $pageLanguage := partial "page-language.html" . -}}
{{- $websiteId := partial "page-website-id.html" . -}}
{{- $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) -}}
{{- $questions := slice -}}
{{- range .Params.faq -}}
  {{- $questions = $questions | append (dict
    "@type" "Question"
    "name" .question
    "acceptedAnswer" (dict
      "@type" "Answer"
      "text" (.answer | markdownify | plainify)
    )
  ) -}}
{{- end -}}
{{- (dict
  "@type" "FAQPage"
  "@id" (printf "%s#faq" $pageURL)
  "mainEntityOfPage" (dict "@id" (printf "%s#webpage" $pageURL))
  "isPartOf" (dict "@id" $websiteId)
  "publisher" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "inLanguage" $pageLanguage
  "mainEntity" $questions
) | jsonify -}}
{{- end -}}
