{{- $sameAs := slice
  "https://www.facebook.com/AeroCoolGlobal/"
  "https://www.instagram.com/aerocool_global"
  "https://x.com/AerocoolGlobal"
  "https://www.linkedin.com/company/aerocool-advanced-technologies-corp./"
  "https://www.youtube.com/@AeroCoolGlobal"
-}}
{{- $organization := dict
  "@type" "Organization"
  "@id" (printf "%s#organization" (.Site.BaseURL | absURL))
  "name" "Aerocool Ukraine"
  "url" (.Site.BaseURL | absURL)
  "logo" (dict
    "@type" "ImageObject"
    "@id" (printf "%s#logo" (.Site.BaseURL | absURL))
    "url" ("images/logo.svg" | absURL)
  )
  "image" (dict "@id" (printf "%s#logo" (.Site.BaseURL | absURL)))
  "areaServed" (dict
    "@type" "Country"
    "name" "Ukraine"
  )
  "address" (dict
    "@type" "PostalAddress"
    "addressCountry" "UA"
    "addressLocality" "Kyiv"
    "streetAddress" "Stepana Rudnytskoho, 19/14"
  )
  "location" (dict
    "@type" "Place"
    "geo" (dict
      "@type" "GeoCoordinates"
      "latitude" "50.4501"
      "longitude" "30.5234"
    )
  )
  "email" "support@aerocool.ua"
  "parentOrganization" (dict "@id" "https://aerocool.io/#organization")
  "brand" (dict "@id" "https://aerocool.io/#brand")
  "contactPoint" (slice
    (dict
      "@type" "ContactPoint"
      "contactType" "customer support"
      "telephone" "+380665020441"
      "email" "support@aerocool.ua"
      "areaServed" "UA"
      "availableLanguage" (slice "uk" "ru" "en")
    )
    (dict
      "@type" "ContactPoint"
      "contactType" "sales"
      "email" "sales@aerocool.ua"
      "areaServed" "UA"
      "availableLanguage" (slice "uk" "ru" "en")
    )
  )
  "openingHoursSpecification" (slice
    (dict
      "@type" "OpeningHoursSpecification"
      "dayOfWeek" (slice "https://schema.org/Monday" "https://schema.org/Tuesday" "https://schema.org/Wednesday" "https://schema.org/Thursday" "https://schema.org/Friday")
      "opens" "09:00"
      "closes" "18:00"
    )
  )
  "sameAs" $sameAs
-}}
{{- $organization | jsonify -}}
