{{- $schemaTypes := .Params.schema_types | default (slice) -}}
{{- if and .IsPage (in $schemaTypes "news") -}}
{{- $pageImage := partial "page-image.html" . -}}
{{- $pageLanguage := partial "page-language.html" . -}}
{{- $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) -}}
{{- $datePublished := .Date.Format "2006-01-02T15:04:05Z07:00" -}}
{{- $dateModified := .Lastmod.Format "2006-01-02T15:04:05Z07:00" -}}
{{- $newsArticle := dict
  "@type" "NewsArticle"
  "@id" (printf "%s#news" $pageURL)
  "mainEntityOfPage" (dict "@id" (printf "%s#webpage" $pageURL))
  "headline" .Title
  "description" (.Params.description | default .Summary | plainify)
  "image" (slice $pageImage)
  "datePublished" $datePublished
  "dateModified" $dateModified
  "author" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "publisher" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "inLanguage" $pageLanguage
  "isAccessibleForFree" true
  "articleSection" .Section
  "wordCount" (printf "%d" .WordCount)
  "timeRequired" (printf "PT%dM" .ReadingTime)
-}}
{{- with .Params.tags -}}
  {{- $newsArticle = merge $newsArticle (dict "keywords" .) -}}
{{- end -}}
{{- $newsArticle | jsonify -}}
{{- end -}}
