{{- $schemaTypes := .Params.schema_types | default (slice) -}}
{{- if and .IsPage (in $schemaTypes "product") -}}
{{- $today := now -}}
{{- $nextYear := add ($today.Year) 1 -}}
{{- $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) -}}
{{- $pageImageID := printf "%s#primary-image" $pageURL -}}
{{- $productCategory := .Section -}}
{{- with .Params.category -}}
  {{- $productCategory = . -}}
{{- else -}}
  {{- with .Params.categories -}}
    {{- $productCategory = index . 0 -}}
  {{- end -}}
{{- end -}}
{{- $priceValidUntil := printf "%d-12-31" $nextYear -}}
{{- with .Params.priceValidUntil -}}
  {{- $priceValidUntil = time.Format "2006-01-02" . -}}
{{- end -}}
{{- $offer := dict
  "@type" "Offer"
  "url" $pageURL
  "priceCurrency" "UAH"
  "price" (.Params.price | default 0)
  "priceValidUntil" $priceValidUntil
  "availability" (printf "https://schema.org/%s" (.Params.availability | default "InStock"))
  "itemCondition" "https://schema.org/NewCondition"
  "priceSpecification" (dict
    "@type" "UnitPriceSpecification"
    "price" (.Params.price | default 0)
    "priceCurrency" "UAH"
  )
  "seller" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "hasMerchantReturnPolicy" (dict
    "@type" "MerchantReturnPolicy"
    "applicableCountry" "UA"
    "merchantReturnDays" (.Params.return_days | default 14)
    "returnMethod" "https://schema.org/ReturnByMail"
    "returnFees" "https://schema.org/FreeReturn"
    "returnPolicyCategory" "https://schema.org/MerchantReturnFiniteReturnWindow"
  )
  "acceptedPaymentMethod" (slice
    "https://schema.org/Cash"
    "https://schema.org/CreditCard"
  )
  "areaServed" (dict
    "@type" "Country"
    "name" "Ukraine"
  )
  "shippingDetails" (dict
    "@type" "OfferShippingDetails"
    "shippingDestination" (dict
      "@type" "DefinedRegion"
      "addressCountry" (.Params.shipping_country | default "UA")
    )
    "shippingRate" (dict
      "@type" "MonetaryAmount"
      "value" 0
      "currency" "UAH"
    )
    "deliveryTime" (dict
      "@type" "ShippingDeliveryTime"
      "handlingTime" (dict
        "@type" "QuantitativeValue"
        "minValue" 0
        "maxValue" 1
        "unitCode" "DAY"
      )
      "transitTime" (dict
        "@type" "QuantitativeValue"
        "minValue" 1
        "maxValue" 3
        "unitCode" "DAY"
      )
    )
  )
-}}
{{- with .Params.warranty -}}
  {{- $offer = merge $offer (dict "warranty" (dict
    "@type" "WarrantyPromise"
    "durationOfWarranty" (dict
      "@type" "QuantitativeValue"
      "value" .
      "unitCode" "MON"
    )
    "warrantyScope" "http://purl.org/goodrelations/v1#PartsAndLabor-BringIn"
  )) -}}
{{- end -}}
{{- $product := dict
  "@type" "Product"
  "@id" (printf "%s#product" $pageURL)
  "mainEntityOfPage" (dict "@id" (printf "%s#webpage" $pageURL))
  "name" .Title
  "image" (dict "@id" $pageImageID)
  "description" (.Params.description | default .Summary | plainify)
  "sku" .Params.sku
  "category" $productCategory
  "brand" (dict "@id" "https://aerocool.io/#brand")
  "offers" $offer
-}}
{{- with .Params.mpn -}}
  {{- $product = merge $product (dict "mpn" .) -}}
{{- end -}}
{{- with .Params.gtin13 -}}
  {{- $product = merge $product (dict "gtin13" .) -}}
{{- end -}}
{{- with .Params.rating -}}
  {{- if and .value .count -}}
    {{- $product = merge $product (dict "aggregateRating" (dict
      "@type" "AggregateRating"
      "ratingValue" .value
      "reviewCount" .count
    )) -}}
  {{- end -}}
{{- end -}}
{{- $product | jsonify -}}
{{- end -}}
