{{- $schemaTypes := .Params.schema_types | default (slice) -}}
{{- $pageDescription := partial "page-description.html" . -}}
{{- $pageLanguage := partial "page-language.html" . -}}
{{- $websiteId := partial "page-website-id.html" . -}}
{{- $pageURL := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) -}}
{{- $pageImageID := printf "%s#primary-image" $pageURL -}}
{{- $webpage := dict
  "@type" "WebPage"
  "@id" (printf "%s#webpage" $pageURL)
  "url" $pageURL
  "name" .Title
  "description" $pageDescription
  "isPartOf" (dict "@id" $websiteId)
  "primaryImageOfPage" (dict "@id" $pageImageID)
  "inLanguage" $pageLanguage
-}}
{{- if in $schemaTypes "organization" -}}
  {{- $webpage = merge $webpage (dict
    "about" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
    "publisher" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  ) -}}
{{- end -}}
{{- if and (in $schemaTypes "breadcrumbs") (not .IsHome) -}}
  {{- $webpage = merge $webpage (dict "breadcrumb" (dict "@id" (printf "%s#breadcrumbs" $pageURL))) -}}
{{- end -}}
{{- $mainEntityID := "" -}}
{{- if and .IsPage (in $schemaTypes "product") -}}
  {{- $mainEntityID = printf "%s#product" $pageURL -}}
{{- end -}}
{{- if and .IsPage (in $schemaTypes "article") -}}
  {{- $mainEntityID = printf "%s#article" $pageURL -}}
{{- end -}}
{{- if and .IsPage (in $schemaTypes "news") -}}
  {{- $mainEntityID = printf "%s#news" $pageURL -}}
{{- end -}}
{{- if in $schemaTypes "faq" -}}
  {{- $mainEntityID = printf "%s#faq" $pageURL -}}
{{- end -}}
{{- if in $schemaTypes "collection" -}}
  {{- $mainEntityID = printf "%s#collection" $pageURL -}}
{{- end -}}
{{- if ne $mainEntityID "" -}}
  {{- $webpage = merge $webpage (dict "mainEntity" (dict "@id" $mainEntityID)) -}}
{{- end -}}
{{- $webpage | jsonify -}}
