{{- $graph := slice -}}
{{- $schemaTypes := .Params.schema_types | default (slice) -}}

{{/* ======================== ГЛОБАЛЬНЫЕ СУЩНОСТИ ======================== */}}
{{- if in $schemaTypes "website" -}}
  {{- with partial "_schema/website.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}
{{- if in $schemaTypes "organization" -}}
  {{- with partial "_schema/local-organization.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
  {{- with partial "_schema/global-organization.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}
{{- if in $schemaTypes "brand" -}}
  {{- with partial "_schema/brand.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}

{{/* ======================== TYPES ======================== */}}

{{/* ======================== КОНТЕНТНЫЕ СУЩНОСТИ ======================== */}}

{{/* NEWS */}}
{{- if and .IsPage (in $schemaTypes "news") -}}
  {{- with partial "_schema/news.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}

{{/* ARTICLE */}}
{{- if and .IsPage (in $schemaTypes "article") -}}
  {{- with partial "_schema/article.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}

{{/* PRODUCT */}}
{{- if and .IsPage (in $schemaTypes "product") -}}
  {{- with partial "_schema/product.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}

{{/* ======================== СПЕЦИАЛЬНЫЕ СУЩНОСТИ ======================== */}}

{{/* FAQ */}}
{{- if and (in $schemaTypes "faq") .Params.faq -}}
  {{- with partial "_schema/faq.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}

{{/* BREADCRUMBS */}}
{{- if in $schemaTypes "breadcrumbs" -}}
  {{- with partial "_schema/breadcrumbs.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}

{{/* COLLECTION (категории / списки) */}}
{{- if in $schemaTypes "collection" -}}
  {{- with partial "_schema/collection.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}

{{/* PRIMARY IMAGE */}}
{{- with partial "_schema/page-image-object.html" . -}}
  {{- $graph = $graph | append (transform.Unmarshal .) -}}
{{- end -}}

{{/* PAGE-LEVEL NODE */}}
{{- if in $schemaTypes "about-page" -}}
  {{- with partial "_schema/about-page.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- else if in $schemaTypes "contact-page" -}}
  {{- with partial "_schema/contact-page.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- else -}}
  {{- with partial "_schema/webpage.html" . -}}
    {{- $graph = $graph | append (transform.Unmarshal .) -}}
  {{- end -}}
{{- end -}}

{{/* ======================== ФИНАЛЬНЫЙ ВЫВОД ======================== */}}

{{- if gt (len $graph) 0 -}}
  {{- $payload := dict
    "@context" "https://schema.org"
    "@graph" $graph
  -}}
  {{- printf `<script type="application/ld+json">%s</script>` ($payload | jsonify) | safeHTML -}}
{{- end -}}
