{{ $title := partial "page-title.html" . }}
{{ $description := partial "page-description.html" . }}
{{ $url := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) }}
{{ $schemaTypes := .Params.schema_types | default (slice) }}
{{ $ogType := "website" }}
{{ $image := partial "page-image.html" . }}
{{ $languageLocale := .Site.Language.Locale | default .Site.Language.Name }}
{{ $ogLocale := replace $languageLocale "-" "_" }}

{{ if and .IsPage (in $schemaTypes "product") }}
  {{ $ogType = "product" }}
{{ else if and .IsPage (or (in $schemaTypes "article") (in $schemaTypes "news")) }}
  {{ $ogType = "article" }}
{{ end }}

<meta property="og:type" content="{{ $ogType }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:image" content="{{ $image }}" />
<meta property="og:url" content="{{ $url }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="{{ $ogLocale }}" />
