{{ $title := partial "page-title.html" . }}
{{ $description := partial "page-description.html" . }}
{{ $url := .Scratch.Get "pagePermalink" | default (.Permalink | absURL) }}
{{ $image := partial "page-image.html" . }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />
<meta name="twitter:url" content="{{ $url }}" />
<meta name="twitter:site" content="@AerocoolGlobal" />
